bin/Debug/net7.0/OOP.dll
bin/Debug/net7.0/OOP.pdb
bin/Debug/net7.0/OOP.dll
bin/Debug/net7.0/OOP.pdb
obj/Debug/net7.0/OOP.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/OOP.dll
obj/Debug/net7.0/OOP.pdb
obj/Debug/net7.0/ref/OOP.dll
obj/Debug/net7.0/refint/OOP.dll
bin/Debug/net7.0/OOP.dll
bin/Debug/net7.0/OOP.pdb
